In [1]:
import numpy as np
import pandas as pd

### Reading in the Dataframe

In [15]:
shots = pd.read_csv("seq_all.csv")
shots.head()

,Unnamed: 0,id,EVENTMSGTYPE,x,y,z,game_clock,rankc
0,0,0021500001_102,2,4.54736,3.16810,8.74509,315.90,1
1,1,0021500001_102,2,4.54813,3.55045,9.35039,315.86,2
2,2,0021500001_102,2,4.60132,4.19530,10.20184,315.82,3
3,3,0021500001_102,2,4.62301,4.99623,10.87920,315.78,4
4,4,0021500001_102,2,4.67267,5.74719,11.60729,315.74,5

### First 8 Frames for the release shots

In [13]:
release_groups = shots.groupby('id').head(8).reset_index(drop=True)

In [16]:
release_groups.to_csv('release_groups.csv')

### Last Frame of each shot for General Linear Regressions

In [9]:
glm_groups = shots.groupby('id').tail(1).reset_index(drop = True)

In [17]:
glm_groups.to_csv('glm_groups.csv')