### Data Cleaning Part 2

In [18]:
import pandas as pd 
import numpy as np

In [30]:
shots = pd.read_csv('seq_all.csv')

In [33]:
last_frame = shots[shots['z'] > 10.4]
l#ast_frame.head()

,Unnamed: 0,id,EVENTMSGTYPE,x,y,z,game_clock,rankc
3,3,0021500001_102,2,4.62301,4.99623,10.87920,315.78,4
4,4,0021500001_102,2,4.67267,5.74719,11.60729,315.74,5
5,5,0021500001_102,2,4.65439,6.59757,12.11054,315.70,6
6,6,0021500001_102,2,4.62322,7.37464,12.76084,315.65,7
7,7,0021500001_102,2,4.67631,8.04956,13.31519,315.61,8

In [34]:
grouped = last_frame.groupby('id').tail(1).reset_index(drop = True)