In [31]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split

In [32]:
shots = pd.read_csv('glm_groups.csv')
shots.head()

,Unnamed: 0,Unnamed: 0.1,id,EVENTMSGTYPE,x,y,z,game_clock,rankc
0,0,31,0021500001_102,2,5.49636,25.01318,10.88796,314.63,32
1,1,85,0021500001_105,1,6.48539,25.37288,11.09783,275.53,31
2,2,132,0021500001_106,2,6.90875,24.57006,10.47310,260.12,43
3,3,198,0021500001_110,2,7.87520,24.96127,10.72345,233.70,57
4,4,236,0021500001_114,1,5.52110,25.74065,10.76264,171.70,33

In [33]:
shot_data = shots.drop(['Unnamed: 0.1','Unnamed: 0', 'rankc','id','game_clock'], axis=1)
shot_data.head()

   EVENTMSGTYPE        x         y         z
0             2  5.49636  25.01318  10.88796
1             1  6.48539  25.37288  11.09783
2             2  6.90875  24.57006  10.47310
3             2  7.87520  24.96127  10.72345
4             1  5.52110  25.74065  10.76264

In [34]:
shot_data['EVENTMSGTYPE'] = shot_data['EVENTMSGTYPE'].map({2: 1, 1: 0})

### Extracting the X Features and output Y features

In [35]:
x_features , y_outputs =  shot_data.loc[:,shot_data.columns != 'EVENTMSGTYPE'] , shot_data['EVENTMSGTYPE']

In [36]:
x_train, x_test, y_train, y_test = train_test_split(
x_features, y_outputs, test_size=0.33, shuffle=False)

In [37]:
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)
predictions = logmodel.predict(x_test)

In [38]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.52      0.35      0.42      2456
           1       0.69      0.82      0.75      4374

    accuracy                           0.65      6830
   macro avg       0.60      0.58      0.58      6830
weighted avg       0.63      0.65      0.63      6830

In [39]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.6487554904831625

In [66]:
print(y_test)

13922    1
13923    0
13924    1
13925    0
13926    1
        ..
20775    0
20776    1
20777    0
20778    0
20779    1
Name: EVENTMSGTYPE, Length: 6858, dtype: int64

In [67]:
print(predictions)

[1 0 1 ... 1 1 1]